/* Global Styles */
html, body {
    height: 100%;
    margin: 0;
    font-family: 'Operator Mono SSm', monospace;
    background-color: #181A1B;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
}

/* Flexbox container */
body {
    display: flex;
    flex-direction: column;
}

/* Main content wrapper */
main {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem 0; /* Adds padding to create space at the top and bottom */
}

/* Content box styling */
.main__content {
    background-color: #1E2021;
    padding: 3rem;
    border-radius: 20px;
    border: 2px solid #00FF7F; /* Added border */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    max-width: 600px;
    width: 100%;
    text-align: left;
    margin-top: 2rem; /* Optional: Adds extra margin to push the content down further */
}

/* Heading styles */
h1 {
    font-family: 'Campton', sans-serif;
    font-size: 3rem;
    font-weight: 700;
    margin: 0 0 2rem 0;
    color: #FFFFFF;
}

/* Section headers */
h3 {
    font-family: 'Campton', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    color: #D6D6D6;
    margin-bottom: 1rem;
}

p, li {
    color: #D6D6D6;
    margin: 0.75rem 0;
    line-height: 1.6;
}

ul {
    list-style-type: disc;
    padding-left: 1.5rem;
}

/* Links */
a {
    color: #00FF7F;
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s;
}

a:hover {
    color: #32CD32;
}

/* Footer Styles */
.page-footer {
    padding: 1.5rem;
    background-color: #1E2021;
    text-align: center;
    font-size: 0.9rem;
    margin-top: auto; /* Sticks the footer at the bottom */
}

.page-footer a {
    color: #00FF7F;
    text-decoration: none;
}

.page-footer a:hover {
    color: #32CD32;
}

/* For small screens */
@media only screen and (max-width: 600px) {
    .main__content {
        padding: 2rem;
    }
    
    h1 {
        font-size: 2.5rem;
    }
}
